
.hero{
    @include center;
    flex-direction: column;
    background-color: $color-background-section;
    text-align: center;
    padding: 30px 25px 30px 25px;
    p{
        font-size: 20px;
        font-weight:300;
        color: grey;
    }
    button{
        @include btn;
        margin-top: 20px;
    }
}


h1{
    font-size: 30px;
    font-weight: 600;
}

.operation{
    @include padding-pages;
}

.container{
    @include container;
   }


#restaurant{
    background: $color-background-section;
    @include padding-pages;
}

.card{
    @include shadow;
    position: relative;
    margin: 40px 0 40px 0;
    background: white;
    height: 300px;
    border-radius: 20px;
    transition: transform 500ms;
    a{
        text-decoration: white;
            color: black;
        &:visited{
            text-decoration: white;
            color: black;
        }
    }
    img{
        object-fit: cover;
        width: 100%;
        height: 80%;
        border-radius: 20px 20px 0 0;
    }
    &__new{
        padding: 5px 10px 5px 10px;
        position: absolute;
        top: 15px;
        right: 15px;
        background: $color-tertiary;
        color: #008766;
        font-size: 14px;
        font-weight: 600;
    }
    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px 5px 20px;
    }
    &__text{
        padding-top: 5px;
        &--bold{
            font-weight: 700;
        }
    }
    &:hover{
        transform: scale(1.05);
        @include shadow(black);
}
}

.loader{
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background: $color-primary;
    animation: loader 2s both;
    @include center;
    &__spinner{
        position: fixed;
        z-index: 3;
        height: 75px;
        width: 75px;
        border: 15px solid white;
        border-top-color: $color-tertiary;
        border-radius: 50%;
        animation: loading 1.75s ease; 
        }
    }
@keyframes loader {
    0%,75% {opacity: 0.5;};
    100% {opacity: 0; visibility: hidden};
}

@keyframes loading{
    from  {transform: rotate(0turn);
    }
    to {transform: rotate(2turn);
    }   
}

.heart{
    @include heart;
}