.loader{
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background: $color-primary;
    animation: loader 2s both;
    @include center;
    &__spinner{
        position: fixed;
        z-index: 3;
        height: 75px;
        width: 75px;
        border: 15px solid white;
        border-top-color: $color-tertiary;
        border-radius: 50%;
        animation: loading 1.75s ease; 
        }
    }
@keyframes loader {
    0%,75% {opacity: 0.5;};
    100% {opacity: 0; visibility: hidden};
}

@keyframes loading{
    from  {transform: rotate(0turn);
    }
    to {transform: rotate(2turn);
    }   
}

.hero{
    @include center;
    flex-direction: column;
    background-color: $color-background-section;
    text-align: center;
    padding: 30px 25px 30px 25px;
    p{
        font-size: 20px;
        font-weight:300;
        color: grey;
    }
    a{
        @include btn;
        @include center;
        text-decoration: none;
        margin-top: 20px;
    }
}


h1{
    font-size: 30px;
    font-weight: 600;
}

.operation{
    @include padding-pages;
    @media (min-width:800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__content{
        @media (min-width: 800px){
            width: 50%;
        }
        @media (min-width: 1200px){
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    &__case{
        @include center;
        @include shadow;
        justify-content: flex-start;
        position: relative;
        background-color: $color-background-section;
        border-radius: 20px;
        height: 70px;
        font-size: 17px;
        font-weight: 500;
        margin: 20px 0 20px 10px;
        @media (min-width: 1200px) {
            min-width: 30%;
            margin: 20px 10px 20px 10px;
        }
        :nth-child(1){
            @include center;
            color: white;
            position: absolute;
            left: -10px;
            height: 20px;
            width: 20px;
            border-radius: 25px;
            background: $color-primary;
            font-size: 14px;
            font-weight: 400;
        }
        :nth-child(2){
            color: #7e7e7e;
            margin: 0 40px 0 40px;
            font-size: 20px;
        }
    }
}


#restaurant{
    background: $color-background-section;
    @include padding-pages;
    width: 100%;
    @media (min-width: 800px){
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__content{
        @media (min-width: 800px){
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            }
    }
}
  


.card{
    @include shadow;
    position: relative;
    margin: 40px 10px 40px 10px;
    background: white;
    height: 300px;
    border-radius: 20px;
    transition: transform 500ms;
    min-width: 224px;
    @media (min-width: 800px){
        min-width: 350px;
}
        
    a{
        text-decoration: white;
            color: black;
        &:visited{
            text-decoration: white;
            color: black;
        }
    }
    img{
        object-fit: cover;
        width: 100%;
        height: 80%;
        border-radius: 20px 20px 0 0;
    }
    &__new{
        padding: 5px 10px 5px 10px;
        position: absolute;
        top: 15px;
        right: 15px;
        background: $color-tertiary;
        color: #008766;
        font-size: 14px;
        font-weight: 600;
    }
    &__footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px 5px 20px;
    }
    &__text{
        padding-top: 5px;
        &--bold{
            font-weight: 700;
        }
    }
    &:hover{
        transform: scale(1.05);
        @include shadow(black);
}

}





