img{
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.menu{
    background-color: #f6f6f6;
    border-radius: 30px;
    width: 100%;
    margin-top: -50px;
    padding: 30px 20px 30px 20px;
    position: relative;
    z-index: 5;
    &__header{
        display: flex;
        justify-content: space-between;
    }
    h2{
        font-family: shrikhand, sans-serif;
        margin-bottom: 30px;
    }
    h3{
        color: #3d3d3d;
        font-weight: 400;
        margin-bottom: 20px;
        position: relative;
    }
    h3:after{
        content: '';
        height: 3px;
        width: 40px;
        background: $color-tertiary;
        position: absolute;
        bottom: -10px;
        left: 0;
}
    &__dishes{
        @media (min-width:599px) {
            display: flex;
        }
    }
    &__content{
        @media (min-width: 1200px){
            display: flex

    }
    }
}


button{
    
    @include btn;
    margin: 50px 0 50px 0;
}

.button{
    @include center;
}

@keyframes pop {
    from { bottom: -30px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}



.validation{
    position: absolute;
    background: $color-tertiary;
    border-radius: 0 15px 15px 0;
    right: -50px;
    padding: 0 13px;
    height: 100%;
    width: 50px;
    @include center;
    transition: right 0.5s ease-in-out;
}

 @for $i from 1 through 10 {
    .case-#{$i} {
        animation: pop 2s 100ms*($i*2) both;
    }
}

.dishes{
    margin-bottom: 40px;
    @media (min-width: 1200px) {
        margin: 0 20px 0 20px;
        min-width: 30%;
        max-width: 30%;
    }
}