img{
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.menu{
    background-color: #f6f6f6;
    border-radius: 30px;
    width: 100%;
    margin-top: -50px;
    padding: 30px 20px 30px 20px;
    position: relative;
    h2{
        font-family: shrikhand, sans-serif;
        margin-bottom: 30px;
    }
    h3{
        color: #3d3d3d;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

.dish{
    @include dish;
}
.button{
    @include center;
    margin: 50px 0 50px 0;
}
button{
    @include btn;
    width: 50%;
}
.dishes{
    margin-bottom: 40px;
}




