@mixin shadow($color: #c6c6c6){
    box-shadow: 0 5px 10px 0 $color;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin padding-pages{
    padding: 40px 20px 40px 20px;
}

@mixin btn{
    @include shadow;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border: 0;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px 0 20px;
    color: white;
    position: relative;
    z-index: 1;
    max-width: 240px;
    &:hover{
        &::after{
        opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom right, lighten($color-secondary, 10%), lighten($color-primary, 10%));
        opacity: 0;
        transition: opacity 250ms;
        z-index: -1;
        @include shadow(black);
        cursor: pointer;
        border-radius: 25px;
    }
    a{
        color: white;
        font-size: 17px;
        font-weight: 500;
        text-decoration: none;  
    }
}


 




