@mixin shadow($color: #c6c6c6){
    box-shadow: 0 5px 10px 0 $color;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin padding-pages{
    padding: 40px 20px 40px 20px;
}

@mixin btn{
    @include shadow;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border: 0;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px 0 20px;
    color: white;
    position: relative;
    z-index: 1;
    &:hover{
        &::after{
        opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom right, lighten($color-secondary, 10%), lighten($color-primary, 10%));
        opacity: 0;
        transition: opacity 250ms;
        z-index: -1;
        @include shadow(black);
        cursor: pointer;
        border-radius: 25px;
    }
    a{
        color: white;
        font-size: 17px;
        font-weight: 500;
        text-decoration: none;  
    }
}

@mixin container{
    @include center;
    @include shadow;
    justify-content: flex-start;
    position: relative;
    background-color: $color-background-section;
    border-radius: 20px;
    height: 70px;
    font-size: 17px;
    font-weight: 500;
    margin: 20px 0 20px 10px;
    :nth-child(1){
        @include center;
        color: white;
        position: absolute;
        left: -10px;
        height: 20px;
        width: 20px;
        border-radius: 25px;
        background: $color-primary;
        font-size: 14px;
        font-weight: 400;
    }
    :nth-child(2){
        color: #7e7e7e;
        margin: 0 40px 0 40px;
        font-size: 20px;
    }
}

@mixin dish {
    @include shadow;
    background: white;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &:hover{
            & + .coche{
                transform: scaleX(1);

            }
        }
    &__text{
            white-space: nowrap;
            overflow: hidden;
        }
    &__name{
            font-weight: 700;
            margin-bottom: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    &__detail{
            text-overflow: ellipsis;
            overflow: hidden;
        }
    &__price{
            font-weight: 700;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
}

    

