@mixin shadow($color: #c6c6c6){
    box-shadow: 0 5px 10px 0 $color;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin padding-pages{
    padding: 40px 20px 40px 20px;
}

@mixin btn{
    @include shadow;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border: 0;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px 0 20px;
    &:hover{
        @include shadow(black);
        cursor: pointer;
        background: linear-gradient(to bottom right, lighten($color: $color-secondary, $amount: 10), lighten($color: $color-primary, $amount: 10));  
    }
    a{
        color: white;
        font-size: 17px;
        font-weight: 500;
        text-decoration: none;  
    }
}

@mixin container{
    @include center;
    @include shadow;
    justify-content: flex-start;
    position: relative;
    background-color: $color-background-section;
    border-radius: 20px;
    height: 70px;
    font-size: 17px;
    font-weight: 500;
    margin: 20px 0 20px 0;
    :nth-child(1){
        @include center;
        color: white;
        position: absolute;
        left: -10px;
        height: 20px;
        width: 20px;
        border-radius: 25px;
        background: $color-primary;
        font-size: 14px;
        font-weight: 400;
    }
    :nth-child(2){
        color: #7e7e7e;
        margin: 0 40px 0 40px;
        font-size: 20px;
    }
}